<section class="super-section">


    <%- include('partials/menuSuper.ejs') %>


    <div class="container">


        <div class="text-center mb-4" style="margin-top: 100px">
            <div class="section-title" style="color: #1e29a4;animation: 5s infinite pulse;">
                <h2 class="font-weight-bold sombra-texto">EDITAR PRODUCTO</h2>
            </div>

            <div>
                <p class="sombra-texto">Ingresa tus metodos de pago de forma segura</p>
            </div>

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb site-pagination">
                    <li class="breadcrumb-item"><a href="/panel-super">Panel</a></li>
                    <li class="breadcrumb-item"><a href="/panel-super/productos">Productos</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Nuevo Producto</li>
                </ol>
            </nav>
        </div>

        <hr>


        <form class="contact-form" method="post" action="/panel-super/editar-producto/<%= producto.id %>">


            <div class="row">

              <!--  <input type="hidden" name="id" value="// //producto.id//"> sirve para no tomar datos de la url -->

                <div class="col-md-3">
                    <div class="form-group">
                        <label class="label-pago">Codigo</label>
                        <input type="text" class="form-control"
                               placeholder="Codigo" min="0" maxlength="6" name="codigo" value="<%= producto.codigo %>">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="label-pago"> Categoría</label>
                        <select name="categoria" class="form-control">

                            <% categorias.forEach(categoria => { %>

                            <option value="<%= categoria.id %>"
                                <%= (producto.categoriaId === categoria.id) ? 'selected' : '' %>>
                                <%= categoria.nombre %>
                            </option>

                            <% }) %>

                        </select>
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="form-group">
                        <label class="label-pago">Nombre</label>
                        <input type="text" class="form-control"
                               placeholder="Nombre del Producto" name="nombre" value="<%= producto.nombre %>">
                    </div>
                </div>


            </div>


            <div class="row">

                <div class="col-md-3">
                    <div class="form-group">
                        <label class="label-pago">Cantidad</label>
                        <input type="number" class="form-control"
                               placeholder="Cantidad" min="0" name="cantidad" value="<%= producto.cantidad %>">
                    </div>
                </div>


                <div class="col-md-3">
                    <div class="form-group">
                        <label class="label-pago">Precio de Compra ( $ )</label>
                        <input type="number" class="form-control"
                               placeholder="Precio de Compra" min="0" name="precioCompra" value="<%= producto.precioCompra %>">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label class="label-pago">Precio de Venta ( $ )</label>
                        <input type="number" class="form-control"
                               placeholder="Precio de Venta" min="0" name="precioVenta" value="<%= producto.precioVenta %>">
                    </div>
                </div>


                <div class="col-md-3">
                    <div class="form-group">
                        <label class="label-pago">Estado</label>
                        <select name="estado" class="form-control">
                            <option value="Activo" <%= (producto.estado === 'Activo') ? 'selected' : '' %>>Activo</option>
                            <option value="Inactivo" <%= (producto.estado === 'Inactivo') ? 'selected' : '' %>>Inactivo</option>

                        </select>
                    </div>
                </div>


                <div class="col-md-12">
                    <div class="form-group">
                        <label class="label-pago">Descripción</label>
                        <div style="border-radius: 25px;font-size: 0.8rem">
                            <input type="hidden" id="x" name="descripcion" value="<%= producto.descripcion %>">
                            <trix-editor input="x"></trix-editor>
                        </div>
                    </div>
                </div>


            </div>


            <div class="d-flex justify-content-center">
                <button type="submit" class="site-btn submit-order-btn button w-50">Guardar</button>
            </div>


        </form>


    </div>
</section>














